@import url("global.css");
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');
:root{
    --h3-font-size:48px;
    --h3-font-family:spline Sans;
    --h3-line-height: 48px;
    --h3-font-weight:400;
    --h6-font-size:16px;
    --h6-font-weight:500;
    --h6-line-height:24px;
    --h4-size:18px;
    --icon-color: rgba(20, 36, 255, 1);
    --icon-size:20px;
    --p-size:14px;
    --p-height:20px;
}
*{
    font-family: var(--h3-font-family);
}
.container-add, .container-add1, .container-add2{

    padding: var(--nav-padding);
padding-top: 3rem ;
padding-bottom: 2rem;
}
.container-add,.container-add2{
    display: flex;
    gap: 1.5rem;
}
.container-add .box1 h3,.container-add2 .content h3{
    /* font-family: var(--h3-font-family); */
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
    line-height: var(--h3-line-height);
}
.container-add .box1 h6, .container-add2 .content h6{
font-size: var(--h6-font-size);
font-weight: var(--h6-font-weight);
line-height: var(--h6-line-height);
}
.container-add .box2, .container-add1 .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem 1.8rem;
}
.container-add .box2 .s-box, .container-add1 .container .s-box{
    box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
border-radius: 0.5rem;
padding: 1.33rem;
}
.container-add .box2 .s-box span, .container-add1 .container .s-box span{
    color: var(--icon-color);
    font-size: var(--icon-size);
    font-weight: 600;
    background: #e7e9ef;
    padding: 0.9rem;
    border-radius: 0.9rem;
}
.container-add .box2 .s-box h4, .container-add1 .container .s-box h4{
    font-size: var(--h4-size);
    line-height: var(--h6-line-height);
    font-weight: var(--h6-font-weight);
}
.container-add .box2 .s-box p, .container-add1 .container .s-box p, .points p{
    font-size: var(--p-size);
    line-height: var(--p-height);
    font-weight: var(--h3-font-weight);
}
.container-add .box2 .s-box .points, .container-add1 .container .s-box .points, .container-add2 .content .points{
    display: flex;
    align-items: start;
    gap: 0.6rem;
    padding: 0.2rem 0;
}
.container-add .box2 .s-box .points i, .container-add1 .container .s-box .points i, .container-add2 .content .points i{
    color: var(--icon-color);
    font-size:18px;
    background: #e7e9ef;
    padding: 0.4rem;
    border-radius: 50%;
}
.container-add2 .content .icons-content{
    margin-top: 2rem;
}
.container-add2 .img img{
    width: 107%;
}