.job-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
}

.job-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 35px;
    /* height: 100%; */
    border: 1px solid #888;
    width: 50vw;
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    animation-name: job-modalopen;
    animation-duration: 0.4s;
    /* text-align: center; */
}

  .job-modal-content form .button button {
    cursor: pointer;
    background-color: var(--button-color);
    border: none;
    padding: var(--button-padding);
    border-radius: 2rem;
    color: white !important;
  }
@keyframes job-modalopen {
    from {opacity: 0;}
    to {opacity: 1;}
}
.job-modal-content form input, .job-modal-content form  textarea{
    width: 100% ;
    border: 1px solid gray;
    padding: 0.5rem 0rem 0.5rem 1rem;
    margin: 0.22rem auto;
    border-radius: 6px;
}

.job-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.job-close:hover,
.job-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.job-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-modal-body {
    margin-top: 10px;
}
.job-details{
  display: flex;
  padding-top: 8rem;
}
.job-details .description {
  padding: 2rem 4rem ;
}
.job-details  h5, h4{
  margin-top: 2rem;
}
.job-details .description .company-description{
  font-weight: 400;
    color: gray
}
.job-details .apply{
  background: #eaeaea;
  padding: 2rem 4rem;
}
.job-details .apply .job-button{
  display: grid;
  align-items: center;
  /* justify-content: center; */
  gap: 0.8rem;
}
.job-details .apply .job-button button{
  width: 80%;
  padding: 0.7rem ;
  border: none;
  border-radius: 0.4rem;
  box-shadow: 0 1px 4px 1px #FFFFFF;
    transition: .5s all ease-in;
    cursor: pointer;
    font-weight: 500;
}
.job-details .apply .job-button .apply-btn, .job-details .apply .job-button .apply-contact:hover{
  background: #0c2d3e;
  color: white;
}
.job-details .apply .job-button .apply-contact, .job-details .apply .job-button .apply-btn:hover{
  background: #f0f8fa;
  color: #0c2d3e;
}
.job-details .apply .posted-by{
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 2.5rem 0 1rem 0;
}
.job-details .apply .posted-by img{
width: 4rem;
height: 4rem;
border-radius: 50%;
}
.job-details .apply .share-social-icons a i{
  font-size: 20px;
  padding: 0.5rem 1rem 0 0;
  color: #0c2d3e;
  transition: .5s all ease-in;

}
.job-details .apply .share-social-icons a i:hover,.show-more-less{
  color: #7479c1;
  cursor: pointer;
}
@media screen and (max-width:1050px) {
   
    .job-modal-content {
      margin: 30% auto;
    }
  }
  @media screen and (max-width:850px) {
   
    .job-modal-content {
      width: 50vw !important; 
    }
    .job-details .description,.apply{
      padding: 2rem !important;
    }
  }
  @media screen and (max-width:770px) {
    .job-modal-content{
        width: 68vw !important;
    }
    .job-details{
      flex-direction: column;
    }
    .job-details .apply .job-button button{
      width: 100%;
    }
  }
  @media screen and (max-width:550px) {
    .job-modal-content{
        width: 78vw !important;
    }
  }
  @media screen and (max-width:390px) {
    .job-modal-content{
        width: 95vw !important;
    }
  }