@import url("https://fonts.google.com/share?selection.family=Inter:wght@100..900");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Nunito Sans", sans-serif; */
    font-family: 'inter';
}

body {
    overflow-x: hidden;
    font-family: 'inter';
}
:root{
    --blue-color1:rgba(0, 168, 205, 1);
    --blue-color2:rgba(3, 125, 152, 1);
    --white-color:#FFFFFF01;
    --white-color2:rgba(255, 255, 255, 1);
    --grey-color1:rgba(248, 248, 248, 1);
    --grey-color2:rgba(76, 76, 76, 1);
    --padding:5rem;
    --aboutSize:38px;
    --titleSize:42px;
    --paraSize:15px;
    --herotitle:48px;
    --heropara:16px;
    --black-color1:rgba(0,0,0,1);
    --black-color2:rgba(77, 76, 76, 1);
    --black-color3:#4D4C4C;
}

nav{
  position: fixed;
  z-index: 99;
  width: 100%;
  
  background: var(--blue-color1);
}
nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .logo a{
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  /* border-radius: 5px; */
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  color: rgba(4, 210, 255, 1);
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: var(--blue-color1);
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background: var(--blue-color1);
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 45px;
}
.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover{
  color: #f2f2f2;
}
.wrapper .btn{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}
@media screen and (max-width: 970px) {
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: var(--blue-color1);
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--blue-color1);
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box,
  #showServicesDrop:checked ~ .drop-menu,
  #showTrainingDrop:checked ~ .drop-menu
  {
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: var(--blue-color1);
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}
nav input{
  display: none;
}
.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}
/* navbar end------- */
      /* container1 start */
      .container1{
        position: relative;
        /* display: inline-block; */
      }
      .container1 img{
        width: 100%;
        display: block;
        object-fit: cover;
        object-position: center;
        height: 100%;
      }
      .container1 .attached-text{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .container1 .attached-text .hero-title{
        color: var(--white-color2);
        font-size: var(--herotitle);
        line-height: 50px;
        margin-left: 6rem;
        margin-right: 28rem;
        font-weight: 500;
        line-height: 50px;
      }
      .container1 .attached-text .hero-para{
        color: var(--white-color2);
        font-size: var(--heropara);
        line-height: 24px;
        margin-left: 6rem;
        margin-top: 15px;
        margin-right: 26rem;
        font-weight: 300;
      }
      
      .container2{
        padding: 2.3rem 3rem 4rem 6rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
        overflow-x: hidden;
      }
      .container2 .sec-1 .title{
        color: var(--black-color1);
        font-size: var(--titleSize);
        font-weight: 500;
        margin-bottom: 5px;
        line-height: 45px;
        letter-spacing: -1.2px;
      }
      .container2 .sec-1 p{
        color: var(--black-color2);
        font-size: var(--paraSize);
        line-height: 28px;
        margin-top: 2.4rem;
      }
      .container2 .sec-1 ul{
        margin-top: 14px;
      }
      .container2 .sec-1 ul li{
        font-size: var(--heropara);
        line-height: 24px;
        margin-top: 18px;
        margin-left: 12px;
        color: var(--black-color2);
      }
      .container2 .sec-2{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .container2 .sec-1{
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
      .benifit-section{
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 2.3rem 6rem 8rem 7rem;
        background-color: var(--grey-color1);
        gap: 2rem;
      }
      .benifit-section .sec-1{
        display: grid;
        grid-template-columns: auto auto;
        gap: 1.2rem;
      }
      .benifit-section .sec-1 .row1{
        display: flex;
        align-items: center;
        gap: 1.4rem;
        background-color: var(--white-color);
        padding: 10px 16px 10px 10px;
        border-radius: 14px;
        box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.03);
      }
      .benifit-section .sec-1 .row1 .content{
        font-size: 18px;
        font-weight: 500;
      }
      .tab-button.active{
        box-shadow: 0 4px 40px 0 rgba(9, 36, 83, 0.08);
        background-color: var(--white-color2);
        border-radius: 14px;
      }

      @media screen and (max-width:1100px) {
        :root{
          --padding:4rem;
      }
      .benifit-section {
        padding: 2.3rem 4rem 8rem 5rem;
      }
      .container2 {
        padding: 2.3rem 3rem 2rem 3rem;
      }
    }
      @media screen and (max-width:1000px) {
      :root{
        --herotitle: 33px;
        --heropara: 14px;
      }
    .container1 .attached-text .hero-title {
        line-height: 42px;
    }
      }
      @media screen and (max-width:900px) {
        .container2 {
          grid-template-columns: auto;
        }
        .container1 .attached-text .hero-title {
          margin-right: 15rem;
      }
      .container1 .attached-text .hero-para {
          margin-right: 15rem;
      }
}
      @media screen and (max-width:800px) {
      .container1 .attached-text .hero-title,.container1 .attached-text .hero-para {
        margin-right: 9rem;
        margin-left: 4rem;
    }
    :root {
      --herotitle: 28px;
      --heropara: 12px;
    }
    }
      @media screen and (max-width:620px) {
        :root{
          --aboutSize: 30px;
          --titleSize: 22px;
          --paraSize: 12px;

        }
      /* .container1 img{
        height: 550px;
      } */
      .container2 .sec-1 p {
        line-height: 22px;
        margin-top: 1rem;
    }
.container1 .attached-text .hero-title {
  line-height: 35px;
}
.conatiner2 .sec-1 .about-title {
  font-size: 1.5rem;
  margin-top: 20px;
}
:root {
  --herotitle: 23px;
}
.container2 .sec-2 #image{
  width: 250px;
}
.container1 .attached-text .hero-title, .container1 .attached-text .hero-para {
  margin-right: 3rem;
  margin-left: 3rem;
} .title,.container2 .sec-1 .title{
    line-height: 28px;
}
.container4 .title {
  padding: 0px 0rem 20px 0;
}
} 
  @media screen and (max-width:500px) {
    :root {
      --padding: 2rem;
  }
#strategy_img{
  width: 260px;
}
/* .container1 img {
  height: 650px;
} */
.container2 {
  padding: var(--padding) 3rem;
}
  }
@media screen and (max-width:360px) {
:root {
  --aboutSize: 25px;
  --titleSize: 18px;
  --paraSize: 10px;
}
/* .container1 img {
  height: 650px;
} */
.container2 .sec-1 p,.container3 .sec-2 p {
  line-height: 18px;
}
.container2 .sec-1 .title {
  line-height: 24px;
}
.container1 .attached-text .hero-title {
  line-height: 31px;
}
.container1 .attached-text .hero-para {
  font-size: var(--heropara);
  line-height: 20px;}
}


.container3{
  /* background-color: var(--grey-color1); */
  background: #F8F8F8;
  padding: 5.8rem 6.6rem;
}
.container3 .title{
        color: var(--black-color1);
        font-size: var(--titleSize);
        font-weight: 500;
        margin-bottom: 5px;
        line-height: 60px;
        letter-spacing: -1.2px;
        padding-bottom: 3rem;
      }
      .container3 .title span{
        background: linear-gradient(to right, rgba(20, 36, 255, 1), rgba(17, 29, 193, 0.28));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;font-weight: 700;
        letter-spacing: -1.5px;
        line-height: 48px;
        text-decoration: underline;
        text-decoration-color: rgba(20, 36, 255, 0.6);
        text-decoration-thickness: 4px;
        text-underline-offset: 15px;
            }
      /* .container3 .title span::after{
        content: '';
        width: ;
      } */
.container3 .inner-sec{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
  padding-top: 2.5rem;
}
.container3 #inner-sec{
  display: grid;
  grid-template-columns: repeat(2,auto);
  gap: 24px;
  padding: 0 2rem;
}
.container3 .inner-sec .card1{
background-color: rgba(255, 255, 255, 1);
padding: 1rem 1rem 2.3rem 1rem;
box-shadow: 0px 4px 40px 0 rgba(0, 0, 0, 0.03)  ;
border-radius: 20px;
}
.container3 .inner-sec .card1 img{
  padding-bottom: 1rem;
  width: 58px;
  height: 58px;
}
.container3 .inner-sec .card1 .card-title{
  padding-bottom: 1rem;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: -0.3px;
}
.container3 .inner-sec .card1 #card-title{
  padding-bottom: 8px;
}
.container3 .inner-sec .card1 .card-subTitle{
  font-size: 12.50px;
  letter-spacing: -0.3px;
  line-height: 20px;
  font-weight: 500;
  padding-bottom: 8px;
  color: rgba(77, 77, 77, 1);
}
.container3 .inner-sec .card1 .card-content{
  font-size: 12px;
  line-height: 20px;
  color: rgba(77, 77, 77, 1);
}
/* CONTAINER 4  */
.container4{
  padding: 2.3rem 5rem 8rem 7rem;
}
.container4 .inner-sec{
  display: grid;
  grid-template-columns: auto auto;
  gap: 5rem;
  padding-bottom: 2rem;
}
.container4 .inner-sec .sec-1 .row1{
  display: flex;
  align-items: center;
  gap: 1.4rem;
  padding: 10px 4.5rem 10px 10px;
  transition: all 0.2s;
  cursor: pointer;
}
.container4 .inner-sec .row1 .content{
  font-size: 15px;
  font-weight: 500;
  color: #000000;
}
.container4 .title{
  color: var(--black-color1);
  font-size: var(--titleSize);
  font-weight: 500;
  line-height: 45px;
  letter-spacing: -1.2px;
  padding: 0 22rem 56px 0;
}
.container4 .inner-sec .sec-2 .para{
  color:#000;
  font-size: 18px;
  line-height: 34px;
}
.container4 .inner-sec .sec-1 .row1:hover{
  background-color: var(--white-color2);
  border-radius: 14px;
  box-shadow: 0 4px 40px 0 rgba(1, 41, 112, 0.08);
}

/* container5 start */
.container5{
  padding: 2.3rem 5rem 5rem 5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.3rem;
}
.container5 .sec-2 .title{
  color: var(--black-color1);
  font-size: var(--titleSize);
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 45px;
}
.container5 .sec-2 p{
  color: var(--black-color3);
  font-size: var(--paraSize);
  line-height: 23px;
  margin-top: 2rem;
}
.container5 .sec-1{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* CONTAINER 4 END */
@media screen and (max-width:1150px) {
  .container3 {
    padding: 5.8rem 4rem;
}
}
@media screen and (max-width:1000px) {
  :root{
    --herotitle: 33px;
    --heropara: 14px;
  }
  .container4 .title {
    padding: 0px 0rem 36px 0;
}
.container4 {
    padding: 2.3rem 3rem 8rem 3rem;
}
.container4 .inner-sec {
    gap: 2rem;
}
.container4 .inner-sec .sec-2 .para {
    font-size: 16px;
    line-height: 30px;
}
  }
@media screen and (max-width:900px) {
  .container3 {
    padding: 3rem 2rem;
}
.container3 #inner-sec {
  row-gap: 22px;
  column-gap: 30px;
  padding: 0 1rem;
}
.container4 .inner-sec {
  grid-template-columns: auto;
}
.container4 .inner-sec .sec-1{
  display: grid;
  grid-template-columns: auto auto;
}

.container5{
  grid-template-columns: auto;
  padding: 2.3rem 3rem 4rem 3rem;
}
.container5 .sec-1{
  grid-row: 2;
}
.container5 .sec-2{
  grid-row: 1;
}
}
@media screen and (max-width:800px) {
  .container3 .inner-sec {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 1rem;
    gap: 10px;
  }
  .container3 #inner-sec {
    row-gap: 16px;
    column-gap: 20px;
    padding: 0 0rem;
}
.container4 .inner-sec .sec-1 .row1 {
  gap: 1rem;
  padding: 8px 2.5rem 8px 8px;
}
.container4 .inner-sec .row1 .content {
  font-size: 13px;
}
}
@media screen and (max-width:620px) {
  :root{
    --aboutSize: 30px;
    --titleSize: 22px;
    --paraSize: 12px;

  }
  .container3 .sec-2 .title,.container4 .title, .title,.container2 .sec-1 .title,.container5 .sec-2 .title{
    line-height: 28px;
}
  .container3 .title{
    padding-bottom: 1rem;
    margin-bottom: 0;
    line-height: 30px;
  }
  .container3 .inner-sec .card1 .card-content {
    font-size: 10px;
    line-height: 18px;
  }
  .container3 .inner-sec .card1 .card-title {
    padding-bottom: 10px;
    font-size: 14px;
  }
  .container3 .inner-sec .card1 img {
    padding-bottom: 10px;
    width: 48px;
    height: 48px;
}
.container3 .inner-sec .card1 .card-subTitle {
  font-size: 10.5px;
  line-height: 16px;
  padding-bottom: 5px;
}
.container3 #inner-sec {
  row-gap: 10px;
  column-gap: 10px;
}
.container4 .inner-sec .sec-2 .para {
  font-size: 12px;
  line-height: 26px;
}
.container5 .sec-1 {
  display: grid;
  grid-template-columns: auto;
  row-gap: 1.4rem;
  margin-top: 24px;
}
}
@media screen and (max-width:600px) {
  .container3 {
    padding: 3rem 1rem;
}
.container4 .inner-sec .sec-1 {
  display: grid;
  grid-template-columns: auto;
}
.container4 {
  padding: 2.3rem 2rem 4rem 2rem;
}
}
@media screen and (max-width:500px) {
  .container3 #inner-sec {
    grid-template-columns: repeat(1, auto);
  }
  .container5{
    padding: 2.3rem 2rem 4rem 2rem;
  }
}
@media screen and (max-width:450px) {
  .container3 {
    padding: 3rem 2rem;
}
.container3 .inner-sec {
  grid-template-columns: repeat(1, 1fr);
}
}
@media screen and (max-width:370px) {
  .container3{
    padding: 2rem 1rem;
  }
  .container3 .sec-2 p {
    line-height: 18px;
  }
}




.tab {
  display: none;
}

.tab.active {
  display: block;
}
.tab.active .container4 .inner-sec .sec-1 .row1{
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.03);
}

.tab-button {
  cursor: pointer;
}

.tab-container {
  margin-bottom: 20px;
}